
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;500&display=swap");
.kumbh {
  font-family: 'Kumbh Sans';
}
.menu {
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.menu-vert {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}
*::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background: #999;
    border-radius: 1rem;
}

.active-image {
    transition-duration: 150ms;
    opacity: 40%;
    border: 2px solid #ea580c;
}



@keyframes cooldown {
    from {
      width: 100%;
    }
  
    to {
      width: 0%;
    }
}
.cooldown-1 {
    animation-name: cooldown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.cooldown-2 {
    animation-name: cooldown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.cooldown-3 {
    animation-name: cooldown;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.cooldown-4 {
    animation-name: cooldown;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
